include "theme.kdl"
include "binds.kdl"

input {
    keyboard {
        xkb {
            layout "us,ara"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
}

layout {
    gaps 12
    background-color "transparent"
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        off
    }
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-at-startup "niri-float-sticky"
spawn-at-startup "pcmanfm-qt" "-d"

layer-rule {
    match namespace="^noctalia-wallpaper.*$"
    place-within-backdrop true
}

window-rule {
    match app-id="scratchpad"
    open-floating true
    default-column-width {
        fixed 1000
    }
    default-window-height {
        fixed 650
    }
}
